<div class="p-4" style="background-image:url('images/imovel.jpg')">

<div class="m-2">
    <label>Qual cidade em que o serviço deve ser prestado?</label>
    <input class="form-control" placeholder="cidade" >
</div>

<div class="m-2">
   <label>Qual serviço está procurando?</label>

    <input class="form-control" placeholder="Serviço Necessitado, ex: Diarista, configuração de PABX, Instalação de Câmaras de Segurança" >
</div>

<div>
    <button class="btn btn-primary"> Procurar  </button>
</div>


</div>
