<div class="p-4" style="background-image:url('images/imovel.jpg')">

<div class="m-2">
    <label>Qual cidade em que o serviço deve ser prestado?</label>
    <input class="form-control" placeholder="cidade" >
</div>

<div class="m-2">
   <label>Qual serviço está procurando?</label>

    <input class="form-control" placeholder="Serviço Necessitado, ex: Diarista, configuração de PABX, Instalação de Câmaras de Segurança" >
</div>

<div>
    <button class="btn btn-primary"> Procurar  </button>
</div>

</div>

<h1>Serviços em Destaque</h1>

<div class="row">
    <div class="col">
        <img class="img-fluid" src="images/configuracao_pabx.png">
    </div>

     <div class="col">

         <p>Configuração de PABX</p>

    </div>

</div>
<div>
    <div class="row">
   <div class="col-1">
        <img src="images/thiago_alves_do_carmo.png" style="width:50px"  class="rounded-circle" alt="Prestador Thiago Alves do Carmo">

   </div>
  

  
   <div class="col-6">

    

    <div><i class="fa-brands fa-whatsapp"></i>  Whatsapp  <a style="text-decoration: none; font-weight:bold" href="https://api.whatsapp.com/send?phone=16999668888"> 16 9 9966-8888</a></div> 
    <div> 5,0 <span style="color:gold"> <i  class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
    
     </span> <a id="avaliacoes"  > (14 avaliações) </a> </div>
  </div>





</div>


<div class="row">
    <div class="col">
        <img class="img-fluid" src="images/configuracao_pabx.png">
    </div>

     <div class="col">

         <p>Configuração de PABX</p>

    </div>

</div>
<div>
    <div class="row">
   <div class="col-1">
        <img src="images/thiago_alves_do_carmo.png" style="width:50px"  class="rounded-circle" alt="Prestador Thiago Alves do Carmo">

   </div>
  

  
   <div class="col-6">

    

    <div><i class="fa-brands fa-whatsapp"></i>  Whatsapp  <a style="text-decoration: none; font-weight:bold" href="https://api.whatsapp.com/send?phone=16999668888"> 16 9 9966-8888</a></div> 
    <div> 5,0 <span style="color:gold"> <i  class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
    
     </span> <a id="avaliacoes"  > (14 avaliações) </a> </div>
  </div>





</div>




<div id="avaliacoes_dialog" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div> Avaliações </div>
    <div>

       <div>
        "O serviço foi realizado com sucesso, recomendo!"
        <span style="color:gold"> <i  class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
       </div>

    <div>
        "Entre em contato pelo site. O serviço foi realizado bem rápido, no outro dia."
        <span style="color:gold"> <i  class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
       </div>
    
     </span>
    </div>
    </div>
  </div>
</div>

<div>

   <div class="p-5" >
            <div class="text-center">  	&reg; Servico SJB - Encontre Prestadores de Serviço em São Joaquim da Barra - SP </div>
   </div>

</div>


<script>



   $(document).ready(function(){
       $('#avaliacoes').on('click', 
         function() {
   
             window.$('#avaliacoes_dialog').modal('show')


         }
       )
   })

</script>


