
  {{#each trabalhadores}}
<div class="row">
    <div class="col-md-2">
   <img class="img-fluid" src="images/diego.jpg">
   </div>
    <li>{{this.nome}}</li>
    <i style="display:inline; color:gray" class="fa-solid fa-star"></i><i style="display:inline; color:gray" class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> (avaliação 5)
</div>
  {{/each}}
